$padding: 30px;
$half-padding: ($padding / 2);

$margin: 30px;
$half-margin: ($margin / 2);

$primary-color: #1890ff;
$background-color: #fafafa;
$border-color: fade-out(black, .8);

$phone: 475px;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: ($padding / 3) $padding $half-padding;

  .ant-typography { margin: 0; }
}

header {
  background-color: #202020;
  border-bottom: 1px solid $border-color;

  .ant-typography {
    color: $primary-color;
  }
}

footer {
  border-top: 1px solid $border-color;
  background-color: $background-color
}

main {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding $padding $half-padding;
  text-align: center;
}

.logo { user-select: none; }

.wrapper,
.container {
  width: 100%;
  position: relative;
}

.ant-image {
  margin: $margin 0;

  &-error {
    border: 1px solid $border-color;
  }
}

.image {
  width: 100%;
  max-width: 800px;
  object-fit: contain;
}

.editMode {
  .container {
    margin-bottom: $half-padding;

    &:last-child  { margin-bottom: 0; }
  }

  .wrapper {
    background-color: $background-color;
    border: 1px dashed $border-color;
    padding: $half-padding;
    margin-top: $half-margin;

    .ant-image { margin: $half-margin 0 0; }

    .image {
      width: auto;
      max-height: 256px;
    }

    &:hover {
      .remove-button {
        opacity: 1;
      }
    }
  }
}

.group {
  .ant-btn {
    margin-right: ($margin / 4);

    &:last-child { margin-right: 0; }
  }
}

.addition {
  //.ant-btn { background-color: fade-out($background-color, .5); }
}

.navigate { margin-bottom: $half-margin; }

.type {
  left: 0;
  bottom: 100%;
  position: absolute;
}

.select,
.remove-button {
  top: $half-padding;
  position: absolute;
  transition: opacity .35s;
}

.select {
  min-width: 100px;
  left: $half-padding;
}

.remove-button {
  right: $half-padding;
  color: darkred;
  opacity: 0;
}

.insert-button { color: $primary-color; }


// Media
@media screen and (max-width: $phone) {
  main { padding: $half-padding; }

  .group {
    .ant-btn {
      margin-right: ($margin / 2);
    }
  }

  .select,
  .remove-button {
    top: auto;
    left: auto;
    right: auto;
    position: relative;
  }

  .select {
    width: 100%;
    margin-bottom: $half-margin;
  }

  .remove-button { opacity: 1; }
}